/* global settings */
@font-face {
    font-family: 'Bull';
    src: 
    url('/project-TresTacos/public/fonts/Bull-Bold.otf') format('Bull-Bold'), 
    url('/project-TresTacos/public/fonts/Bull-Heavy1.otf') format('Bull-Heavy1'),
    url('/project-TresTacos/public/fonts/BullText-Bold.otf') format('BullText-Bold'),
    url('/project-TresTacos/public/fonts/BullText-Medium.otf') format('BullText-Medium'),
    url('/project-TresTacos/public/fonts/BullText-Regular.otf') format('BullText-Regular'),
    url('/project-TresTacos/public/fonts/BullVAR.otf') format('BullVAR');
    font-weight: normal; /* Ajusta según el peso de la fuente */
    font-style: normal; /* Ajusta según el estilo de la fuente */
}

:root {
    --color-num-0: #182A4B;
    --color-num-1: #213872;
    --color-num-3: #6B6C7E;
    --color-num-5: #CC1C4A;
    --color-num-6: #FACD34;
    --color-num-7: #E2E3E5;
    --color-num-8: #F6F6F6;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

/* Clases para aplicar background-color */
.bg-bs-color-0 {
    background-color: var(--color-num-0);
}

.bg-bs-color-1 {
    background-color: var(--color-num-1);
}

.bg-bs-color-3 {
    background-color: var(--color-num-3);
}

.bg-bs-color-5 {
    background-color: var(--color-num-5);
}

.bg-bs-color-6 {
    background-color: var(--color-num-6);
}

.bg-bs-color-7 {
    background-color: var(--color-num-7);
}

.bg-bs-color-8 {
    background-color: var(--color-num-8);
}

.bg-bs-color-white {
    background-color: var(--color-white);
}

.bg-bs-color-black {
    background-color: var(--color-black);
}

/* Clases para aplicar text-color */
.tx-bs-color-0 {
    color: var(--color-num-0);
}

.tx-bs-color-1 {
    color: var(--color-num-1);
}

.tx-bs-color-3 {
    color: var(--color-num-3);
}

.tx-bs-color-5 {
    color: var(--color-num-5);
}

.tx-bs-color-6 {
    color: var(--color-num-6);
}

.tx-bs-color-7 {
    color: var(--color-num-7);
}

.tx-bs-color-8 {
    color: var(--color-num-8);
}

.tx-bs-color-white {
    color: var(--color-white);
}

.tx-bs-color-black {
    color: var(--color-black);
}

*{
    margin: 0px;
    font-family: 'Bull', sans-serif;
}
/* HEADER */

.contenido-header li a{
    color: var(--color-white);
}
.icono-header-medium{
    fill: var(--color-num-7);
    font-size: 30px;
}

#navbarSupportedContent .nav-link:hover{
    color: var(--color-white);
    background-color: var(--color-num-3);
    border-radius: 100px;
}

.bg-linear-gradient{
    background: linear-gradient(transparent, var(--color-num-8));
}
.fs-88{
    font-size: 88px;
}
.icon-medium-3{
    fill: var(--color-num-3);
}
.fs-normal-56{
    font-size: 56px;
}
/* slicer principal */
.carousel-indicators{
    gap: 10px;
}
.carousel-indicators [data-bs-target]{
    height: 12px;
    width: 12px;
    margin: 0;
    border: 0;
    border-radius: 10px;
}
.carousel-indicators .active{
    width: 50px;
}